@font-face {
	font-family: "PPPangaia-Medium";
	src: url("./fonts/PPPangaia-Ultralight.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

// Define your variables
$padding: 5px;
$margin: $padding / 2; // Here, the margin is half the padding value
$borderRadius: 20px;
$topBarHeight: 40px;

body,
html {
	font-family: "PPPangaia-Medium", sans-serif; // Fallback to sans-serif if the custom font fails to load
	box-sizing: border-box;
	height: 100%;
	margin: 0;
}
* {
	box-sizing: border-box;
}

h1 {
	font-size: 18px;
}

.App {
	display: flex;
	background-color: #262626;
	text-align: center;
	height: 100vh; /* Defined height for the parent */
	max-width: 100vw;
	max-height: 100vh; /* Keeps the minimum height */
	align-items: stretch;
	flex-direction: column;
	.top-bar-area {
		display: flex;
		height: $topBarHeight;
		background-color: #262626;
		color: white;
	}
}

.main-area {
	display: flex;
	min-height: 0;
	flex: 1;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
	color: white;
	margin: 10px 10px;
}

.module-area-wrapper {
	display: flex;
	min-height: 0;
	box-sizing: border-box;
	flex: 1;
	flex-grow: 1;
	//height: 100%;
	flex-direction: column;
	justify-content: start;
	align-items: stretch;
	padding: $padding;
	margin: 0px $margin;
	border: 1px solid white;
	border-radius: $borderRadius;
	&.instrument {
		flex-grow: 3;
	}
	.submodule-area-wrapper {
		min-height: 0;
		display: flex;
		flex: 1;
		/* height: 100%; */
		padding: $padding * 2;
		border: 1px solid white;
		border-radius: $borderRadius;
		/* Apply margin to all elements except the first one */
	}
}
