@font-face {
	font-family: "PPPangaia-Medium";
	src: url("./resources/fonts/PPPangaia-Ultralight.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@import "./Session/CSS/colors"; // Define your variables
@import "./Session/CSS/margins"; // Define your variables

body,
html {
	font-family: "PPPangaia-Medium", sans-serif; // Fallback to sans-serif if the custom font fails to load
	box-sizing: border-box;
	height: 100%;
	margin: 0;
}
* {
	box-sizing: border-box;
}

h1 {
	font-size: 18px;
}

.App {
	display: flex;
	background-color: $main_bg_color;
	text-align: center;
	height: 100vh; /* Defined height for the parent */
	max-width: 100vw;
	width: 100vw;
	max-height: 100vh; /* Keeps the minimum height */
	align-items: stretch;
	flex-direction: column;
}
