@font-face {
	font-family: "PPPangaia-Medium";
	src: url("./fonts/PPPangaia-Ultralight.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

// Define your variables
$padding: 10px;
$margin: $padding / 2; // Here, the margin is half the padding value
$borderRadius: 20px;
$topBarHeight: 60px;

body,
html {
	font-family: "PPPangaia-Medium", sans-serif; // Fallback to sans-serif if the custom font fails to load
	box-sizing: border-box;
	height: 100%;
	margin: 0;
}

h1 {
	font-size: 18px;
}

.App {
	text-align: center;
	height: 100vh; /* Defined height for the parent */
	min-height: 100vh; /* Keeps the minimum height */
	display: flex;
	flex-direction: column;
	.top-bar-area {
		height: $topBarHeight;
		background-color: #262626;
		color: white;
	}
}

.App-header {
	background-color: #262626;
	height: calc(100% - #{$topBarHeight}); /* Defined height for the parent */
	min-height: calc(100% - #{$topBarHeight}); /* Keeps the minimum height */
	flex: 1 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.module-area-wrapper {
	height: calc(100% - #{$padding * 4});
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: $padding;
	margin: $margin;
	border: 1px solid white;
	border-radius: $borderRadius;
	&.instrument {
		flex: 3;
	}
	.submodule-area-wrapper {
		flex: 1;
		width: calc(100% - #{$padding * 2});
		padding: $padding;
		//margin: 10px;
		border: 1px solid white;
		border-radius: $borderRadius;
		/* Apply margin to all elements except the first one */
		&:not(:first-child) {
			margin-top: $padding;
		}

		/* Style for the first child */
		&:first-child {
			margin-top: 0px;
		}
	}
}
